### Web Scraping e Pandas

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

In [2]:
# URL
res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")

In [3]:
soup = BeautifulSoup(res.content, 'lxml')

In [4]:
table = soup.find_all('table')[0]

In [8]:
print(table)

In [7]:
# conversão da tabela HTML em um dataframe do pandas
df = pd.read_html(str(table))

In [9]:
print(df.describe())

AttributeError: 'list' object has no attribute 'describe'

In [15]:
# conversão do dataframe para o formato JSON
print(df[0].to_json(orient='records'))

In [19]:
print(tabulate(df[0], headers='keys', tablefmt='psql'))

+-----+------+---------------------------------------------------+---------------+--------+---------+-----------+
|     | #    | COUNTRY                                           | AMOUNT        |   DATE |   GRAPH |   HISTORY |
|-----+------+---------------------------------------------------+---------------+--------+---------+-----------|
|   0 | 1    | China                                             | 389 million   |   2009 |     nan |       nan |
|   1 | 2    | United States                                     | 245 million   |   2009 |     nan |       nan |
|   2 | 3    | Japan                                             | 99.18 million |   2009 |     nan |       nan |
|   3 | nan  | Group of 7 countries (G7) average (profile)       | 80.32 million |   2009 |     nan |       nan |
|   4 | 4    | Brazil                                            | 75.98 million |   2009 |     nan |       nan |
|   5 | 5    | Germany                                           | 65.12 million |   2010 |     nan |       nan |
|   6 | 6    | India                                             | 61.34 million |   2009 |     nan |       nan |
|   7 | 7    | Russia                                            | 59.7 million  |   2010 |     nan |       nan |
|   8 | nan  | Non-religious countries average (profile)         | 51.56 million |   2009 |     nan |       nan |
|   9 | 8    | United Kingdom                                    | 51.44 million |   2009 |     nan |       nan |
|  10 | 9    | France                                            | 44.63 million |   2010 |     nan |       nan |
|  11 | 10   | Nigeria                                           | 43.99 million |   2009 |     nan |       nan |
|  12 | 11   | South Korea                                       | 39.4 million  |   2009 |     nan |       nan |
|  13 | 12   | Turkey                                            | 35 million    |   2010 |     nan |       nan |
|  14 | nan  | Emerging markets average (profile)                | 32.99 million |   2009 |     nan |       nan |
|  15 | 13   | Mexico                                            | 31.02 million |   2009 |     nan |       nan |
|  16 | 14   | Italy                                             | 30.03 million |   2010 |     nan |       nan |
|  17 | 15   | Spain                                             | 29.09 million |   2010 |     nan |       nan |
|  18 | 16   | Canada                                            | 26.96 million |   2009 |     nan |       nan |
|  19 | nan  | East Asia and Pacific average (profile)           | 25.43 million |   2009 |     nan |       nan |
|  20 | nan  | High income OECD countries average (profile)      | 24.75 million |   2009 |     nan |       nan |
|  21 | nan  | Cold countries average (profile)                  | 23.69 million |   2009 |     nan |       nan |
|  22 | 17   | Vietnam                                           | 23.38 million |   2009 |     nan |       nan |
|  23 | 18   | Colombia                                          | 22.54 million |   2009 |     nan |       nan |
|  24 | 19   | Poland                                            | 22.45 million |   2010 |     nan |       nan |
|  25 | 20   | Pakistan                                          | 20.43 million |   2009 |     nan |       nan |
|  26 | 21   | Egypt                                             | 20.14 million |   2009 |     nan |       nan |
|  27 | 22   | Indonesia                                         | 20 million    |   2009 |     nan |       nan |
|  28 | nan  | Heavily indebted countries average (profile)      | 17.81 million |   2009 |     nan |       nan |
|  29 | 23   | Thailand                                          | 17.48 million |   2009 |     nan |       nan |
|  30 | nan  | South Asia average (profile)                      | 16.69 million |   2009 |     nan |       nan |
|  31 | 24   | Taiwan                                            | 16.15 million |   2009 |     nan |       nan |
|  32 | 25   | Australia                                         | 15.81 million |   2009 |     nan |       nan |
|  33 | 26   | Malaysia                                          | 15.36 million |   2009 |     nan |       nan |
|  34 | 27   | Ukraine                                           | 15.3 million  |   2010 |     nan |       nan |
|  35 | 28   | Netherlands                                       | 14.87 million |   2010 |     nan |       nan |
|  36 | 29   | Argentina                                         | 13.69 million |   2009 |     nan |       nan |
|  37 | nan  | Religious countries average (profile)             | 13.59 million |   2009 |     nan |       nan |
|  38 | 30   | Morocco                                           | 13.21 million |   2009 |     nan |       nan |
|  39 | nan  | Eurozone average (profile)                        | 12.48 million |   2010 |     nan |       nan |
|  40 | nan  | NATO countries average (profile)                  | 12.27 million |   2010 |     nan |       nan |
|  41 | nan  | European Union average (profile)                  | 10.69 million |   2010 |     nan |       nan |
|  42 | nan  | Former British colonies average (profile)         | 10.17 million |   2009 |     nan |       nan |
|  43 | 31   | Saudi Arabia                                      | 9.77 million  |   2009 |     nan |       nan |
|  44 | nan  | Europe average (profile)                          | 9.61 million  |   2010 |     nan |       nan |
|  45 | nan  | Catholic countries average (profile)              | 9.37 million  |   2009 |     nan |       nan |
|  46 | 32   | Peru                                              | 9.16 million  |   2009 |     nan |       nan |
|  47 | 33   | Venezuela                                         | 8.92 million  |   2009 |     nan |       nan |
|  48 | nan  | Eastern Europe average (profile)                  | 8.4 million   |   2010 |     nan |       nan |
|  49 | 34   | Sweden                                            | 8.4 million   |   2010 |     nan |       nan |
|  50 | 35   | Philippines                                       | 8.28 million  |   2009 |     nan |       nan |
|  51 | nan  | Christian countries average (profile)             | 8.26 million  |   2009 |     nan |       nan |
|  52 | 36   | Iran                                              | 8.21 million  |   2009 |     nan |       nan |
|  53 | 37   | Belgium                                           | 8.11 million  |   2010 |     nan |       nan |
|  54 | 38   | Romania                                           | 7.79 million  |   2010 |     nan |       nan |
|  55 | nan  | South and Central Asia average (profile)          | 7.6 million   |   2009 |     nan |       nan |
|  56 | nan  | OPEC countries average (profile)                  | 7.45 million  |   2009 |     nan |       nan |
|  57 | 39   | Chile                                             | 7.01 million  |   2009 |     nan |       nan |
|  58 | 40   | Czech Republic                                    | 6.68 million  |   2010 |     nan |       nan |
|  59 | 41   | Hungary                                           | 6.18 million  |   2010 |     nan |       nan |
|  60 | 42   | Austria                                           | 6.14 million  |   2010 |     nan |       nan |
|  61 | nan  | Former Spanish colonies average (profile)         | 6.14 million  |   2009 |     nan |       nan |
|  62 | 43   | Switzerland                                       | 5.74 million  |   2010 |     nan |       nan |
|  63 | nan  | Latin America and Caribbean average (profile)     | 5.71 million  |   2009 |     nan |       nan |
|  64 | nan  | failed states average (profile)                   | 5.53 million  |   2009 |     nan |       nan |
|  65 | 44   | Kazakhstan                                        | 5.3 million   |   2010 |     nan |       nan |
|  66 | 45   | Portugal                                          | 5.17 million  |   2010 |     nan |       nan |
|  67 | nan  | Potential Future EU Members average (profile)     | 5.1 million   |   2009 |     nan |       nan |
|  68 | nan  | Muslim countries average (profile)                | 5.01 million  |   2009 |     nan |       nan |
|  69 | 46   | Greece                                            | 4.97 million  |   2010 |     nan |       nan |
|  70 | nan  | Former Soviet republics average (profile)         | 4.93 million  |   2009 |     nan |       nan |
|  71 | 47   | Hong Kong                                         | 4.87 million  |   2009 |     nan |       nan |
|  72 | 48   | Denmark                                           | 4.75 million  |   2010 |     nan |       nan |
|  73 | 49   | Algeria                                           | 4.7 million   |   2009 |     nan |       nan |
|  74 | 50   | Uzbekistan                                        | 4.69 million  |   2009 |     nan |       nan |
|  75 | nan  | Hot countries average (profile)                   | 4.66 million  |   2009 |     nan |       nan |
|  76 | 51   | Israel                                            | 4.53 million  |   2009 |     nan |       nan |
|  77 | nan  | Middle Eastern and North Africa average (profile) | 4.51 million  |   2009 |     nan |       nan |
|  78 | 52   | Finland                                           | 4.48 million  |   2010 |     nan |       nan |
|  79 | 53   | Syria                                             | 4.47 million  |   2009 |     nan |       nan |
|  80 | 54   | Belarus                                           | 4.44 million  |   2010 |     nan |       nan |
|  81 | 55   | Norway                                            | 4.43 million  |   2010 |     nan |       nan |
|  82 | 56   | South Africa                                      | 4.42 million  |   2009 |     nan |       nan |
|  83 | 57   | Sudan                                             | 4.2 million   |   2008 |     nan |       nan |
|  84 | 58   | Serbia                                            | 4.11 million  |   2009 |     nan |       nan |
|  85 | 59   | Slovakia                                          | 4.06 million  |   2010 |     nan |       nan |
|  86 | 60   | Kenya                                             | 4 million     |   2009 |     nan |       nan |
|  87 | 61   | Azerbaijan                                        | 3.69 million  |   2010 |     nan |       nan |
|  88 | 62   | Tunisia                                           | 3.5 million   |   2009 |     nan |       nan |
|  89 | 63   | United Arab Emirates                              | 3.45 million  |   2009 |     nan |       nan |
|  90 | nan  | Tourist destinations average (profile)            | 3.42 million  |   2009 |     nan |       nan |
|  91 | 64   | New Zealand                                       | 3.4 million   |   2009 |     nan |       nan |
|  92 | 65   | Bulgaria                                          | 3.4 million   |   2010 |     nan |       nan |
|  93 | 66   | Ecuador                                           | 3.35 million  |   2009 |     nan |       nan |
|  94 | 67   | Singapore                                         | 3.23 million  |   2009 |     nan |       nan |
|  95 | 68   | Uganda                                            | 3.2 million   |   2009 |     nan |       nan |
|  96 | 69   | Ireland                                           | 3.04 million  |   2010 |     nan |       nan |
|  97 | 70   | Dominican Republic                                | 2.7 million   |   2009 |     nan |       nan |
|  98 | 71   | Yemen                                             | 2.35 million  |   2009 |     nan |       nan |
|  99 | nan  | Former French colonies average (profile)          | 2.31 million  |   2009 |     nan |       nan |
| 100 | 72   | Guatemala                                         | 2.28 million  |   2009 |     nan |       nan |
| 101 | 73   | Croatia                                           | 2.24 million  |   2010 |     nan |       nan |
| 102 | 74   | Kyrgyzstan                                        | 2.19 million  |   2009 |     nan |       nan |
| 103 | 75   | Lithuania                                         | 2.1 million   |   2010 |     nan |       nan |
| 104 | 76   | Senegal                                           | 1.82 million  |   2009 |     nan |       nan |
| 105 | 77   | Sri Lanka                                         | 1.78 million  |   2009 |     nan |       nan |
| 106 | nan  | Landlocked countries average (profile)            | 1.64 million  |   2009 |     nan |       nan |
| 107 | 78   | Jordan                                            | 1.64 million  |   2009 |     nan |       nan |
| 108 | nan  | Sub-Saharan Africa average (profile)              | 1.62 million  |   2009 |     nan |       nan |
| 109 | 79   | Cuba                                              | 1.61 million  |   2013 |     nan |       nan |
| 110 | 80   | Jamaica                                           | 1.58 million  |   2009 |     nan |       nan |
| 111 | 81   | Latvia                                            | 1.5 million   |   2010 |     nan |       nan |
| 112 | 82   | Costa Rica                                        | 1.49 million  |   2009 |     nan |       nan |
| 113 | 83   | Oman                                              | 1.47 million  |   2009 |     nan |       nan |
| 114 | 84   | Bosnia and Herzegovina                            | 1.44 million  |   2010 |     nan |       nan |
| 115 | 85   | Zimbabwe                                          | 1.42 million  |   2009 |     nan |       nan |
| 116 | 86   | Uruguay                                           | 1.41 million  |   2009 |     nan |       nan |
| 117 | =87  | Gaza Strip                                        | 1.38 million  |   2009 |     nan |       nan |
| 118 | =87  | West Bank                                         | 1.38 million  |   2009 |     nan |       nan |
| 119 | =89  | Georgia                                           | 1.3 million   |   2010 |     nan |       nan |
| 120 | =89  | Albania                                           | 1.3 million   |   2010 |     nan |       nan |
| 121 | 91   | Slovenia                                          | 1.3 million   |   2010 |     nan |       nan |
| 122 | 92   | Ghana                                             | 1.3 million   |   2009 |     nan |       nan |
| 123 | 93   | Moldova                                           | 1.29 million  |   2010 |     nan |       nan |
| 124 | 94   | Paraguay                                          | 1.1 million   |   2009 |     nan |       nan |
| 125 | 95   | Bolivia                                           | 1.1 million   |   2009 |     nan |       nan |
| 126 | 96   | Kuwait                                            | 1.1 million   |   2009 |     nan |       nan |
| 127 | 97   | Republic of Macedonia                             | 1.06 million  |   2009 |     nan |       nan |
| 128 | =98  | Afghanistan                                       | 1000000       |   2009 |     nan |       nan |
| 129 | =98  | Lebanon                                           | 1000000       |   2009 |     nan |       nan |
| 130 | =98  | Puerto Rico                                       | 1000000       |   2009 |     nan |       nan |
| 131 | =98  | Haiti                                             | 1000000       |   2009 |     nan |       nan |
| 132 | 102  | Estonia                                           | 969700        |   2010 |     nan |       nan |
| 133 | 103  | Cote d'Ivoire                                     | 967300        |   2009 |     nan |       nan |
| 134 | 104  | Panama                                            | 959800        |   2009 |     nan |       nan |
| 135 | 105  | Zambia                                            | 816200        |   2009 |     nan |       nan |
| 136 | 106  | Cameroon                                          | 749600        |   2009 |     nan |       nan |
| 137 | 107  | El Salvador                                       | 746000        |   2009 |     nan |       nan |
| 138 | 108  | Honduras                                          | 731700        |   2009 |     nan |       nan |
| 139 | 109  | Malawi                                            | 716400        |   2009 |     nan |       nan |
| 140 | 110  | Tajikistan                                        | 700000        |   2009 |     nan |       nan |
| 141 | 111  | Tanzania                                          | 678000        |   2009 |     nan |       nan |
| 142 | 112  | Bangladesh                                        | 617300        |   2009 |     nan |       nan |
| 143 | 113  | Mozambique                                        | 613600        |   2009 |     nan |       nan |
| 144 | 114  | Angola                                            | 606700        |   2009 |     nan |       nan |
| 145 | 115  | Trinidad and Tobago                               | 593000        |   2009 |     nan |       nan |
| 146 | 116  | Nepal                                             | 577800        |   2009 |     nan |       nan |
| 147 | 117  | Qatar                                             | 563800        |   2009 |     nan |       nan |
| 148 | 118  | Rwanda                                            | 450000        |   2009 |     nan |       nan |
| 149 | 119  | Ethiopia                                          | 447300        |   2009 |     nan |       nan |
| 150 | 120  | Cyprus                                            | 433800        |   2010 |     nan |       nan |
| 151 | 121  | Luxembourg                                        | 424500        |   2010 |     nan |       nan |
| 152 | 122  | Bahrain                                           | 419500        |   2009 |     nan |       nan |
| 153 | 123  | Togo                                              | 356300        |   2009 |     nan |       nan |
| 154 | 124  | Libya                                             | 353900        |   2009 |     nan |       nan |
| 155 | 125  | Mongolia                                          | 330000        |   2008 |     nan |       nan |
| 156 | 126  | Iraq                                              | 325900        |   2009 |     nan |       nan |
| 157 | 127  | Madagascar                                        | 319900        |   2009 |     nan |       nan |
| 158 | 128  | Brunei                                            | 314900        |   2009 |     nan |       nan |
| 159 | 129  | Iceland                                           | 301600        |   2010 |     nan |       nan |
| 160 | 130  | Laos                                              | 300000        |   2009 |     nan |       nan |
| 161 | =131 | Mauritius                                         | 290000        |   2009 |     nan |       nan |
| 162 | =131 | Democratic Republic of the Congo                  | 290000        |   2008 |     nan |       nan |
| 163 | 133  | Montenegro                                        | 280000        |   2009 |     nan |       nan |
| 164 | 134  | Macau                                             | 270200        |   2009 |     nan |       nan |
| 165 | 135  | Mali                                              | 249800        |   2009 |     nan |       nan |
| 166 | 136  | Congo, Republic of the                            | 245200        |   2009 |     nan |       nan |
| 167 | 137  | Malta                                             | 240600        |   2010 |     nan |       nan |
| 168 | 138  | Armenia                                           | 208200        |   2010 |     nan |       nan |
| 169 | 139  | Benin                                             | 200100        |   2009 |     nan |       nan |
| 170 | 140  | Eritrea                                           | 200000        |   2008 |     nan |       nan |
| 171 | 141  | Nicaragua                                         | 199800        |   2009 |     nan |       nan |